@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://fonts.googleapis.com/css?family=Lato');

h1 {
	font-family           : 'Syncopate', sans-serif;
}

body {
	font-family           : 'Lato', sans-serif;
}

.form-field {
	display               : block;
	padding-top           : 4px;
	padding-bottom        : 4px;
}

.form-field label {
	display               : inline-block;
	width                 : 175px;
}

.form-field input {
	border                : 1px solid black;
	padding               : 6px;
	-webkit-border-radius : 7px;
	-moz-border-radius    : 7px;
}

.error-msg {
	color      : red;
	font-size  : 13
}

input[type=submit] {
	background            : #ccc;
	border                : 0 none;
	cursor                : pointer;
	padding               : 8px;
	-webkit-border-radius : 7px;
	-moz-border-radius    : 7px;
}

input[type=submit]:hover {
	background            : #000;
	color                 : #ccc;
}